extends layout

block content
  .container.mt-5
      form(action='/book/add/'+pooja._id  method='post')
        .mb-3
          h3.hd Add Users
          label  Name
          input#exampleInputEmail1.form-control(type='text',name='name')
        .mb-3
          label Star
          input#exampleInputPassword1.form-control(type='text',name='star')
        .mb-3
          label Pooja name
          input#exampleInputPassword1.form-control(name='pooja'  value=pooja.name)
        .mb-3
          label Price
          input#exampleInputPassword1.form-control(name='price' value=pooja.price)
        button.btn.btn-primary(type='submit') Confirm